html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}
.token {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    position: absolute;
    user-select: none;
}

.others {
    background-color : #FF6208;
}

.you {
    background-color : #086aff;
    cursor: grab;
    z-index: 9999;
}
.you:active {
    opacity: 0.75;
}