.token {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: darkblue;
    color: white;
    cursor: grab;
    user-select: none;
}

.token:active {
    opacity: 0.5;
}

.you {
    color : #00f;
    font-weight : bold;
}
